* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    color: #2ecc71;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;

}

h2 {
    font-size: 25px;
    margin: 20px 0;
}

.main-text {
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: crimson;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

.sign-text {
    font-size: 20px;
    color: #a2a2a2;
    float: left;
    line-height: 1.5em;
    margin: 35px 10px;
}

.sign-text:before {
    content: " ~ ";
}

.main-section {
    float: left;
    width: 75%;
    padding: 10px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

.side-var {
    float: left;
    width: 25%;
    padding: 10px 20px;
}

.clearfix {
    clear: both;

}

.rule-bar {
    border: 1px solid #dbd1d1;
}

.main-section img {
    height: 150px;
    width: auto;
}

.footer {
    margin-top: 10px;
    padding: 10px;
}

.footer img {
    float: left;
}
